# ignore all jupyter notebook checkpoint data.
.ipynb_checkpoints

# ignore mac folder metadata.
.DS_Store

# ignore draft files.
*draft*

# ignore gcc config files.
.gcc-flags.json

# raw cpp scripts
libbitcoin_examples
